{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-light">Toutes les catégories de séries : </h1>
    {% for category in categories %}
        <div class="text-light">
            <p>{{ loop.index }} / {{ category.id }} - {{ category.name }}</p>
            <a href="{{ path("category_show", { categoryName: category.name }) }}">Voir la catégorie</a>
        </div>
    {% else %}
        <div class="text-light">
            Aucune catégorie trouvée.
        </div>
    {% endfor %}

    <a class="text-warning" href="{{ path("app_index") }}">Retour à l'accueil</a>
{% endblock %}