{% extends 'base.html.twig' %}
{% block body %}
    <div class="container text-light">
        <h2>{{ category.name }}</h2>
        <ul>
            {% for program in programs %}
                <li class="text-start"><p>{{ program.id }} - {{ program.title }}</p>
                    <p>Description: {{ program.summary }} <a href="{{ path("program_show", {programId: program.id}) }}">Découvrir cette série</a></p>
                </li>
            {% else %}
                <p>Aucune série trouvée</p>
            {% endfor %}

        </ul>
    </div>
    <a class="text-warning" href="{{ path("category_index") }}" class="text-warning">
    Retour à la liste des categories
    </a>
{% endblock %}
