{% extends 'base.html.twig' %}
{%  block body %}
    <div class="container">
        <div class="justify-content-center text-lg-center text-light">
            <h1>{{ program.title }}</h1>
            <img class="justify-content-center" src="{{ program.poster }}" alt="{{ program.title }} affiche">
        </div>
        <div class="text-light">
        <ul>
            {% for episode in episodes %}
                <div class="mt-4 p-2">
                    <li>
                        <p class="fw-bold">Saison {{ season.id }} - Episode {{ episode.number }} - {{ episode.title }}</p>
                        <p>{{ episode.synopsis }}</p>
                        <a href="{{ path("program_episode_show", {program: program.id, season: season.id, episode: episode.id}) }}" class="text-warning" >Découvrir l'épisode.</a>
                    </li>
                </div>
            {% endfor %}
        </ul>
        </div>
    </div>
{% endblock %}
