{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
<div class="container ms-4">
    <div class="mt-4 p-4 justify-content-center text-lg-center text-light">
            <h1 class="mt-4 justify-content-center text-light">{{ program.title }}</h1>
            <img class="justify-content-center" src="{{program.poster}}" alt="{{ program.title }} affiche">
    </div>
        <div class="text-light ms-6">
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <ul>
                {% for season in seasons %}
                    <li>{{ season.description }} -
                    <a class="text-warning mb-4" href="{{ path('program_show_season',{program: program.id, season: season.id}) }}"> Voir la saison </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="text-warning">
        <a href="{{ path("program_index") }}" class="text-warning text-decoration-none">
        < Retour à la liste des programmes
        </a>
    </div>

{% endblock %}
